/* This is a comment*/
<style>
@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Libre+Baskerville');
</style>

main{
  font-family: 'Libre Baskerville', serif;
  width: 960px;
}

a:hover{
  background-color: green;
}

body{
  color: rgb(#ccc);
}

header{
  text-align:center;
  font-family:'Crimson Text', serif;
  font-size: 24px;
  margin: 10px 0;
  padding: 15px;
  background-color: rgba(255, 0, 0, 0.5);
}

.grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  width:960px
}

#Education{
  grid-column-start: 1;
  grid-row-start: 1;
  background-color:rgba(255, 0, 0, 0.5);
}

#Experience{
  grid-column-start: 2;
  grid-row-start:1/span 4;
  background-color: rgba(255, 0, 0, 0.5);
}

#VolunteerandLeadership{
  grid-column-start: 2;
  grid-row-start: 1 / span 4;
  float:right;
  width: 740px;
  background-color: rgba(255, 0, 0, 0.5);
}

#SkillsandCertifications {
  grid-column-start: 1;
  grid-row-end: 2;
  grid-row-start: 2;
  padding: 100px;
  background-color: rgba(255, 0, 0, 0.5);
}
